* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
    text-decoration: none;
    list-style: none;
}

:root {
    --text-color: #000000;
    --bg-color: #e5e5e5;
    --main-color: #f29494;
    --second-color: #fff;
    --big-font: 5.5rem;
    --p-font: 1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top:0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 27px 9%;
    transition: all ease .55s;
}

.logo {
    display: flex;  
    align-items: center;
    color: var(--text-color);
    font-size: 40px;
    font-weight: bold;
}